<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Twitter sentiment analysis</title>
	<link rel="stylesheet" href='/static/style.css'/>
	<!--<link rel="stylesheet" href='./style.css'/>-->
</head>
<body>
	<div>
		Searching and anlaysing tweets with <font color="blue"><%=keyword%></font>.<br>
	</div>
	<!--<h2>Real-time Twitter sentiment catcher.</h2>-->

	<div id='graph_window'></div>

	Session will be expired after
	<div id='counter'>0/100 tweets </div>
	<div id='timer'> or 0/120 seconds.</div> 
	
	
	<ul class='block-list'></ul>



	<footer>
		<ul>
		<li><b>API:</b> <a href="https://dev.twitter.com" target="_blank">Twitter Streaming API </a></li>
		<li><b>Tweet Corpus:</b> Python machine learning model is fitted by using the data from <a href="http://help.sentiment140.com/for-students" target="_blank"> this tweet corpus</a></li>
		<li><b>Resource:</b><br>
		Node.js(HTTP, Web and Net Socket Server),<br>
		scikit-learn(Python Machine Learning Application),<br>
		d3.js(Web Brower Plot)</li>
		</ul>
		<b>Source Code:</b> <a href="https://github.com/SsureyMoon/TwitterSentimentAnalyzer" target="_blank"> Github</a>
	</footer>

	

	<script src="/socket.io/socket.io.js"></script>
	<script src="/static/jQuery.js"></script>
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<!--<script src="d3.min.js"></script>-->
	<script src="/static/draw.js"></script>
	<script src="/static/client.js"></script>
</body>
</html>